.centerform{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.containerborder{
    border: 1px;
    border-style: solid;
    color: black;
}